@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap');

body{
    margin: 0px;
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(5,1fr);
    font-family: 'Noto Sans', sans-serif;
    width: 100vw;
    height: 100vh;
}
#odin{
    height: 36px;
    width: auto;
}
#sidebar{
    display: grid;
    
    grid-template-rows: repeat(7,50px) 150px repeat(3,50px);
    background-color: royalblue;
    grid-row: 1/6;
    padding-left: 10px;
    padding-top: 10px;

    color: white;
}
.dashboard{
    padding-top: 15px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding-left: 10px;
    font-size: 24px;
}
.home,.profile,.messages,.history,.communities,.settings,.support,.privacy,.tasks{
    padding-left: 15px;
    display:grid;
    grid-template-columns: 24px 5fr;
    gap: 5px;
    align-items: center;

}


#header{
    margin-left: 25px;
    grid-column: 2/6;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr;
    align-items: center;
}
.searchbar{
    
    display: grid;
    grid-template-columns: 24px 300px;
    grid-template-rows: 24px;
    column-gap: 15px;
}
#actlbar{
    background-color: rgb(200, 204, 204);
    border: none;
    border-radius: 40px;
}
.dp{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.acctdetails{
    display: grid;
    gap: 50px;
    grid-template-columns: 24px 50px 100px;
    grid-template-rows: 50px;
    justify-content: right;
    align-items: center;
    margin-right: 25px;
    font-weight:900;
}

#bigdp{
    height: 75px;
    width: 75px;
    border-radius: 50%;
}
.welcomemsg{
    display: grid;
    grid-template-columns: 75px 1fr;
    gap: 15px;
    align-items: center;
}
#welcome{
    display: grid;
    grid-template-rows: 12px 32px;
    row-gap: 5px;
}
#hi{
    font-size: 12px;
}
#clam{
    font-weight:900;
    font-family: 'Noto Sans', sans-serif;
}
.actionstaken{
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#new,#upload,#share{
    height: 30px;
    width: 100px;
    background-color: rgb(38, 75, 189);
    color: white;
    border: none;
    border-radius: 40px;


}

#main-content{
    
    background-color: rgb(200, 204, 204);
    grid-row:2/6;
    grid-column:2/6;
    padding-top: 10px;
    padding-left: 15px;

}

#main-container{
    display: grid;
    grid-template-rows: 320px 280px;
    gap: 50px;
}
.announce{
    display: grid;
    background-color: white;
    border-radius: 16px;;
    padding: 32px;
}
.text1{
    border-bottom: 1px solid rgba(0, 0, 0, 0.32);
    padding-bottom: 16px;
}
h4{
    margin-top: 0px;
    margin-bottom: 0px;
}
.main1{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    align-content: stretch;
    gap: 40px;
}
.task{
    border-radius: 8px;
    height: 150px;
    width: 250px;
    background-color: white;
    border-left-style:solid;
    border-left-width: 10px;
    border-color: rgb(198, 167, 90);
    white-space: initial;
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 20px;
    display: grid;
    grid-template-rows: 50px;
    
}
.listimages{
    display: grid;
    justify-content: end;
    grid-template-columns: 24px 24px;
    gap: 40px;
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    max-height: 680px;
}
